* {
    box-sizing: border-box;
}

body {
    background-color: rgb(144, 254, 218);
    color: rgb(0, 0, 0);
}

.main {
    background-color: blueviolet;
    padding: 20px;
    height: 300px;
    width: 300px;
    border: 2px palevioletred;

}

#box {
    background-color: rgb(205, 251, 252);
    border: 2px solid green;
    padding: 20px;
    height: 70px;
    width: 70px;


}