* {
    box-sizing: border-box;
}

body {
    background-color: rgb(144, 254, 218);
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: blueviolet;
    border: 8px solid rgb(235, 11, 86);
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#box {
    background-color: rgb(205, 251, 252);
    border: 2px solid green;
    width: 70px;
    height: 70px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.search-bar {
    position: relative;
    margin: 5px;

}

input {
    padding: 10px 20px;
    font: inherit;
    border-radius: 100px;
    border: 1px solid gray;
}

.button {
    height: 40px;
    border-radius: 50%;
    border: none;
    aspect-ratio: 1/ 1;
    background-color: #0071ff;
    position: absolute;
    right: 0;
}