.container {
    display: grid;

    /* grid-template-columns: 1fr 1fr 1fr;
     */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 2fr 2fr;
    /* aotu is by defualt value */
    /* gap: 30px; */
    /* its for both column and for rows mean same gap creat .*/
    /* column-gap: 200px;
    row-gap: 200px; */
    /* grid-column: 1/2; */

}

.box {
    background-color: greenyellow;
    height: 70px;
    width: 70px;
    margin: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-1 {
    display: grid;
    grid-row: span 2;

}