* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.mainBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.Box {
    background-color: rgb(193, 136, 246);
    height: 70px;
    width: 70px;
    padding: 20px;
    margin: 10px;

}