body{
   
    margin: 10px;
    color: greenyellow;
    background:linear-gradient(to top, red, blue);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#box1{
    border: 5px;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: rgb(2, 41, 6);
    padding: 10px;
    margin:auto;
}

#box2{
    border: 250px;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: blueviolet;
    padding: 10px;
    margin: auto;
}
