* {
    background-color: rgb(177, 239, 177);
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: rgb(244, 149, 149);
    border: 2px solid black;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

div {
    background-color: rgb(4, 98, 91);
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(208, 237, 195);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}