.grid-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);

    grid-template-areas:
        "box-1 box-2 box-3"
        "box-4 box-5 box-5";

    gap: 10px;
}

.box {
    background: rgb(2, 184, 245);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}