.item {
    /* height: 800px; */
    height: 100px;
    width: 100px;
    padding: 2em;
    background-color: lightblue;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-size: 2rem;

}

.grid-container {
    display: grid;
    /* grid-template-columns: 200px 300px 400px;
    grid-template-rows: 400px 200px 200px; */
    /* after applying the below properties must be put the height: 800px; property in the item styleing see what happen */
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    /* this below property make the first item box 100vh  */
    /* grid-template-columns: 300px 1fr;
    grid-template-rows: 100vh; */
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;

    gap: 2em;
}