body {

    min-height: 100dvh;
    display: flex;
    /* justify-content: flex-start;
    align-items: flex-start; */
    /* justify-content: center;
    align-items: flex-start; */
    justify-content: flex-end;
    align-items: flex-start;

    .main-box {

        border: 2px dashed black;
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 200px 200px;
        gap: 1em;
        grid-template-areas:
            "box1 box2 box2 box3"
            "box1 box4 box5 box5"
    }

    .box {
        margin: 10px;
        border: 2px solid red;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}