.grid-contanier {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row: span2;
    /* remember if you put the columns the row will automatically adjust   */
    /* remember you can not put the columns is less then row for example the below properties */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    /* grid-template-columns: auto; */
    /* grid-template-rows: auto; */
    /* grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px; */
    /* using the repeat property */
    /* grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px); */
    /* using fr unit instad of fixed px */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    /* fr without repeat property */
    /* grid-template-columns: 3fr 3fr 4fr;
    grid-template-rows: 1fr 1fr 3fr; */
    /* gap: 20px; */
    /* row-gap: 20px;
    column-gap: 20px; */
    /* justify-items: center;
    align-items: center; */
    /* justify-items: end;
    align-items: end; */
    /* justify-items: end;
    align-items: end; */
    /* justify-items: end;
    align-items: center; */
}

.box {
    background-color: blueviolet;
    height: 70px;
    width: 70px;
    color: yellow;
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}