.grid-contanier {
    background-color: aqua;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.box {
    background-color: blueviolet;
    height: 70px;
    width: 70px;
    color: yellow;
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}