* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;

}

nav {
    background-color: aqua;
    padding: 16px;
    margin: 0px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo {
    color: rgb(2, 42, 82);
    font-size: 22px;
    font-weight: bold;
    margin-right: auto;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links a {
    color: rgb(204, 16, 129);
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: rgb(41, 3, 37);
}