body {
    background-color: rgb(20, 240, 112);

}

nav {
    background-color: rgb(99, 210, 244);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: rgb(175, 20, 152);
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}