body {
    border: 4px solid wheat;
    min-width: 400px;
    height: 400px;
    background-color: rgb(4, 34, 24);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-center;
    align-items: flex-end;


}

.box {
    background-color: blanchedalmond;
    border: 2px solid green;
    width: 70px;
    height: 70px;


}