* {
    box-sizing: border-box;


}

body {
    background-color: rgb(135, 78, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main {
    background-color: aqua;
    height: auto;
    width: 70vw;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-shrink: 5;
    flex-wrap: wrap;




}

.box {
    background-color: brown;
    border: 2px dashed palevioletred;
    flex-shrink: 1;
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#box-1 {
    margin-right: auto;
    min-width: 100px;
    flex-shrink: 3;
    max-width: 300px;

}