.main {
    flex-shrink: 1;
    border: 2px solid black;
    min-height: 800px;
    background-color: aqua;
    display: flex;
}

#box-1 {
    /* flex-shrink: 5; */
    /* flex-shrink: 0; */
    /* flex-shrink: 1; */
    /* This is already follow so just add for fun  */
    /* flex-grow: 1; */
    /* flex-grow: 0; apply see what happen */
    /* flex-grow: 4; */
    /* flex-grow: 1;
    max-width: 300px; */
    flex-shrink: 1;
    min-width: 100px;

}

.box {
    /* flex-shrink: 1; */
    /* flex-shrink: 0;  */
    /* flex-grow: 1;
    max-width: 300px; */
    /* flex-shrink: 1;
    min-width: 100px; */
    background-color: rgb(88, 5, 88);
    color: rgb(208, 243, 231);
    width: 70px;
    height: 70px;
    margin: 2px;
    padding: 3px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}